*{
	font-family: verdana;
	font-family: 'PT Sans', sans-serif;
	-webkit-box-sizing: border-box;
   box-sizing: border-box;
   text-decoration-style: justify;
}
body{
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}
/*.-navbar{
	margin-bottom: 0;
    }*/
/*#logo{
	height: 300%;

    }*/
    #carouselimage{
        width: 100%;
        height: 345px;
        min-width: 145px;
        min-height: 345px;
    }
    #myCarousel{
        margin-left: -0px;
        width: 100%;
        min-width: 265px;
        min-height: 245px;
        max-width: 563px;
        max-height: 345
    }
    .carousel-caption{
        width: 50%;
        background-color: rgba(252,252,252,.7);
        /*background-color: rgba(000,000,000,.7);*/
        margin-bottom: 5%;
        margin: auto;
/*        margin-left: 20.65%;
        margin-right: 20.65%;*/
        text-align: center;
        color: #000;
        border-radius: 10px;
        min-width: 10%;
        min-height: 10%;
    }
    header{
        width: 100%;
        height: 0px;
        position: fixed;
        z-index: 1001;
    }
    .carousel-inner > .item > img{

    }
    #textCarousel{
        margin-right: -40%;
    }
    .carousel-inner > .item > a > img {
/*    width: 2000px;
height: 500px;*/
/*    margin: auto;*/
}
.jumbotron{
    margin-left: -15px;
    margin-right: 15px;
}
.soffers{
	background-color: #E6E6E6;
    border-radius: 2px;
}
/*#offer{
	min-width: 10%;
	min-height: 10%;
	margin-left: none;
	border: 2px solid black;
	margin: 4%;
	display: block;
    background-color: #2A8E1B ;
    background-color: rgba(100,200,000,.7);
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: all 1s;
}*/
#image{
	margin: 0px;
	width: 100%;
	height: 100%;
	padding: 10px;
	min-width: 180px;
	min-height: 180px;
}

#caption{
    /*background-color: #2A8E1B;*/
    background-color: #B0B0B0;
    float: left;
    width: 100%;
    height:100%;
    min-width: 248px;
    min-height: 345px;
    max-width: 576.5px;
    max-height: 345px;
    margin: 0.01%;
}
#caption2{
    /*background-color: #2A8E1B;*/
    float: right;
    width: 50.5%;
    height:100%;
    min-width: 248px;
    min-height: 345px;
    max-height: 345px;
    margin-top: -45%;
    margin-right: -10%;
}
#enunciados{
    margin: 10%;
    /*background-color: rgba(255, 255, 255, 0.80);*/
}
#aplicar{
    float: right;
    margin-bottom: 100%;
}
.tituloA{
    font-size: 25px;
    color: #FFF;
}
.propiedad{
    color: #522;
    font-size: 15px;
}
#panel{
    min-width: 282px;
    max-width: 1140px;
    min-height: 219px;
    max-height: 219px;
    width: 100%;
}
.color1{
	color: #522;
    font-size: 20px;
}
.color2{
	background-color: rgba(220,220,220, .5);
}
.enunciado{
    
}
.container-login
{
    width: 1000px;
    height: 800px;
    margin: 0px;
}
.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}
/*redes sociales*/
.logo
{
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #2A8E1B;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}
.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
.EspacioRedes{
    padding-top: 25px;
}
footer{
    height: all;
    width: 100%;
    font-family: arial,Helvetica;
    background-color: #000;
    color: #fff;
    text-align: center;
}
/*header{
  width: 100%;
  height: 0px;
  position: fixed;
  }*/
aside li a{
    padding-bottom: 15px;
    margin: 5px;
    display: inline-block;
    list-style: none;
    font-family: verdana;
    color:black;
    text-decoration: none;
    text-align: center;
}
li{
    padding: 0px;
    list-style: none;
    background-color: none;
    margin: 2px;
    text-decoration: none;
}
li {
    display: inline-block;
    list-style: none;
} 
select {
    height: 25px;
    margin-top: 7px;
    width: 190px;
    font-size: 12px;
    border-width: none !important;
    border-style: none !important;
    border-color: none !important;
    border-image:  !important;
}
.EspacioRedes{
    padding-top: 35px;
}
.container-login
{
    width: 1000px;
    height: 800px;
    margin: 0px;
}
.account-box
{
    border: 2px solid rgba(153, 153, 153, 0.75);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

.logo
{
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
}

.forgotLnk
{
    margin-top: 10px;
    display: block;
}

.purple-bg
{
    background-color: #2A8E1B;
    color: #fff;
}
.or-box
{
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or
{
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

.center {
    margin-top:50px;   
}

.modal-header {
    padding-bottom: 5px;
    background-color: #2A8E1B;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}
.color4{
    background-color: rgba(0, 0, 0, .010);
}
.color2{
    background-color: rgba(0, 0, 0, .05);
}
.color3{
    background-color: rgba(255, 255, 255, 0.80);
    width: 100%;
    height: 100%;
/*    min-width: 245px;
    min-height: 115px;*/
    min-width: 145px;
    min-height: 345px;
    padding: 10px;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #2A8E1B;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}  
#social:hover {
    -webkit-transform:scale(1.1); 
    -moz-transform:scale(1.1); 
    -o-transform:scale(1.1); 
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8); 
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}           
/* 
    Only Needed in Multi-Coloured Variation 
    */
    .social-fb:hover {
        color: darkblue;
    }
    .social-tw:hover {
        color: #4099FF;
    }
    .social-gp:hover {
        color: #d34836;
    }
    .social-em:hover {
        color: #f39c12;
    }      
    .container-fluida {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }
  .btn3d {
    position:relative;
    top: -6px;
    border:0;
    transition: all 40ms linear;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:2px;
    margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
    outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-white {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#fff;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#fff;
}
.btn3d.btn-default {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}
.btn3d.btn-success {
    box-shadow:0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#78d739;
}
.btn3d.btn-success:active, .btn3d.btn-success.active {
    box-shadow:0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #78d739;
}
.btn3d.btn-info {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#39B3D7;
}
.btn3d.btn-info:active, .btn3d.btn-info.active {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #39B3D7;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#FEAF20;
}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #FEAF20;
}
.btn3d.btn-danger {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#D73814;
}
.btn3d.btn-danger:active, .btn3d.btn-danger.active {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #D73814;
}
.btn3d.btn-magick {
    color: #fff;
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#bb39d7;
}
.btn3d.btn-magick:active, .btn3d.btn-magick.active {
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #bb39d7;
}
.btn3d.btn-index {
    box-shadow:0 0 0 1px #2A8E1B inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #267d19, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#2A8E1B;
}
.btn3d.btn-index:active, .btn3d.btn-index.active {
    box-shadow:0 0 0 1px #2A8E1B inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #2A8E1B;
}

/*reputacion*/
#imagenReputacion{
    width: 50px;
    height: 50px;
    float: left;
    padding: 3px;
}
#nombreVendedor{
    font-size: x-large;
    padding: 3px;
}
.navbar-nav > .user-menu .user-image {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -10px;
}
#reputacion{
    float: left;
    margin-top: -5%;
    margin-left: 2.5%;
}
.reputation-thermometer li {
    border-right: none;
    overflow: hidden;
    text-indent: -999px;
    width: 1.95em;
}
.reputation-thermometer-1 {
    background-color: #F6898D;
}
.reputation-thermometer-2 {
    background-color: #FDC175;
}
.reputation-thermometer-3 {
    background-color: #FFF9A1;
}
.reputation-thermometer-4 {
    background-color: #ECF9B3;
}
.reputation-thermometer-5 {
    /*background-color: #86DA73;*/
    background-color: #00B200;
        border: 2px solid #000;
}
[class*='reputation-level-green'] .reputation-thermometer-5 {
    background-color: #00B200;
}
.reputation-thermometer:before, .reputation-thermometer:after, .reputation-thermometer li {
    border: 1px solid #ccc;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    float: left;
    height: 1em;
    line-height: 1.15em;
}
/*box comentar*/
#pregunta{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
#comentar{
    padding: 2px;

}
#respuesta{
    margin-top: 10px;
    float: right;
    background-color: #86DA73;
    border-radius: 10px;
    padding: 10px;
}
/*fin comentar*/
#part1{
    float: left;
}
#part2{

}
.containerC{

}